@font-face {
	font-family: 'montserratregular';
	src: url('../fonts/montserratregular-regular-webfont.eot');
	src: url('../fonts/montserratregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
		 url('../fonts/montserrat-regular-webfont.woff') format('woff'),
		 url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #2c3e50;
	color:white;
	font-family:'montserratregular', sans-serif;
}

header {
	position: fixed; 
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

nav ul {
	margin: 0px;
	padding-left: 0;
	padding-top: 20px;
	text-align: center;
	background: #34495e;
	padding-bottom: 20px;

}

nav ul li {
	margin-left: 10px;
	display: inline-block;
}

nav ul li a {
	color: white;
	opacity: 0.7;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 20px;
}

nav ul li a:hover {
	opacity: 1;
}

h1 {
	font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	width: 100%;
}

.page {
	position: relative;
	display: table;
	width: 100%;
	height: 100vh;
}

.center-box {
	display: table-cell;
	vertical-align: middle;
}


/* Empieza el css home */

#home {
	text-align: center;
}

#home img {
	display: block;
	margin: 0 auto;
}

#home h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 40px;
	position: relative;
	display: inline-block;
}

#home h2 .amperson {
	display: inline-block;
	width: 22px;
	height: 27px;
	background-image: url(../images/amperson.svg);
	margin-left: 10px;
	margin-right: 10px;
}

#home h2:hover::after {
	right: -80px
}

#home h2:hover::before {
	left: -80px;
}

#home h2::after,
#home h2::before {
	content: '';
	width: 50px;
	height: 1px;
	background: #fff;
	position: absolute;
	transition: all .2s ease-in;
	top: 20px;
}	

#home h2::after {
	right: -55px;
}

#home h2::before {
	left: -55px;

}

#home .summary ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#home .summary ul li {
	display: inline-block;
	margin-left: 10px; 
}

#home .summary ul li p span {
	font-size: 20px;
}

.summary {

	position: absolute; 
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

/* Huevada de richard */
form {
   width: 50%;
   margin: 30px auto 0 auto;
}

form.row-form{
   margin-bottom: 15px;
 }

form.last-row-form{
   margin-bottom: 40px;
   margin-top: 10px;
}

.row-form input,
.row-form textarea,
.row-form select {
   padding: 10px;
   border-radius: 5px;
   border: 1px solid gray;
   transition: border .5s ease-in;
}

.row-form input,
.row-form textarea,
.row-form label,
.row-form select {
   display: block;
   width: 100%;
   box-sizing: border-box;
}

.row-form label {
   text-align: left;
   margin-bottom: 5px;
   color: white;
   padding: 10px;
}

.row-form textarea {
   resize: none;
}

form button {
   background:#27ae60  ;
   color: white;
   border: 0;
   border-radius: 5px;
   display: block;
   font-size: 16px;
   margin: 10px auto 0;
   padding: 10px;
   width: 70px;
}

.row-form input:focus,
.row-form textarea:focus,
.row-form select:focus {
   outline: none;
   border: 1px solid #66afe9  ;
}

form button:hover {
   animation: blinkbutton 1.5s infinite;
   cursor: pointer;
}

@keyframes blinkbutton {
   0% {opacity:0.5}
   50% {opacity:1}
   100% {opacity:0.5}
}

#contacto {
	vertical-align: middle;
	width: 100%;
}





