@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserratregular-regular-webfont.eot');
    src: url('../fonts/montserratregular-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/montserrat-regular-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-regular-webfont.woff') format('woff'),
         url('../fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background: #2c3e50 ;
    color:white;
    font-family:'montserratregular', sans-serif;
    margin-top: 90px;
    text-align: center;
}

header {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

nav ul {
    margin: 0px;
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
    background: #34495e ;
    padding-bottom: 20px;

}

nav ul li {
    margin-left: 10px;
    display: inline-block;
}

nav ul li a {
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a:hover {
    opacity: 1;
}

h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.page {
    position: relative;
    display: table;
    width: 100%;
    height: 100vh;
}

.center-box {
    display: table-cell;
    vertical-align: middle;
}